@import "tailwindcss";

@theme {
  --color-slate-950: #0f172a;
  --color-slate-900: #1e293b;
  --color-primary: #6366f1;
  --color-primary-hover: #8b5cf6;
}

@layer base {
  body {
    @apply bg-slate-950 text-white antialiased;
  }
}